{% extends "assurance/index.html.twig" %}

{% block content %}
    <h2 class="text-white ms-4 mt-4">Assurance BNP pour les Professionnel</h2>
    <p class="text-white ms-4 mb-4">Voilà l'index des assurances professionnel</p>
{% endblock %}
