{% extends '_template.html.twig' %}


{% block firstHeader %}Banque{% endblock %}

{% block content %}
    <h2 class="text-white ms-4 mt-4">Banque BNP</h2>
    <p class="text-white ms-4 mb-4">Voilà l'index de la banque</p>
{% endblock %}

{% block footer %}{{parent()}} Banque{% endblock %}
