<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active text-dark" aria-current="page" href="{{ path('app_assurance') }}">Assurance</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="{{ path('app_banque') }}">Banque</a>
    </li>
</ul>